.bundle
db/*.sqlite3
log/*.log
tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
.ruby-gemset
.ruby-version
.rbenv-gemsets
public/system/
public/storage
public/packs
public/packs-test
coverage/
.yardoc/
dump.rdb
spec/test_files/
.idea/
node_modules
.rake_tasks~
.env
.env.development
.env.test
/TAGS
Dockerfile.dev
docker-compose.yml.dev
.vscode
